{% render 'partials/head.liquid' %}


<h1>Data-Driven Web</h1>
<p>Ik ben dus {{ person.name }}</p>
<p>Het is vandaag {{ 'now' | date: '%a, %b %d, %H:%M' }}</p>
<details><summary>Data</summary><pre>{{ person | json:4 }}</pre></details>
<p>{{ custom.hobby }}</p>

{% render 'partials/foot.liquid' %}