@font-face {
  font-family: electrolize;
  src: url("../assets/fonts/Electrolize/Electrolize-Regular.ttf");
}

* {
  box-sizing: border-box;
}

html {
  background-color: black;
  color: white;
  font-family: electrolize, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html:has(.profile-card-example) {
  height: 100vh;
}

body:has(.profile-card-example) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: rgb(209, 247, 255);
}

@keyframes spin {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

article.profile-card-example {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  max-width: 25em;
  min-width: min(20em, 96%);
  border-radius: 10px;
  background: rgb(136, 4, 37);

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: conic-gradient(from var(--angle),
        #00ff9f,
        #00b8ff,
        #001eff,
        #00b8ff,
        #00ff9f);
    z-index: -2;
    padding: 3px;
    border-radius: inherit;

    @media (prefers-reduced-motion: no-preference) {
      animation: 3s spin linear infinite;
    }
  }

  &::after {
    filter: blur(1.5rem);
    opacity: 0.5;
  }
}

header.profile-card-example-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;

  /* Je kunt selectors nesten! */
  h1 {
    margin: 2rem 0 1rem;
    color: rgb(209, 247, 255);
  }
}

.profile-card-example-img {
  position: relative;
  top: 1rem;
  width: 10em;
  height: auto;
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 100%, 80% 100%, 20% 100%, 0% 80%, 0% 0%);
}

.profile-card-example-text-box {
  color: black;
}

.profile-card-example-dl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "html-dt css-dt js-dt"
    "html-dd css-dd js-dd";
  justify-items: center;
  align-items: start;
  width: 100%;
  margin-top: -3rem;
  margin-bottom: 0;
  padding: 5rem 0 3rem;
  color: rgb(209, 247, 255);

  dt {
    margin-top: 0.25rem;
    padding-top: 0.25rem;
    border-bottom: 1px solid rgb(85, 234, 212);
    font-weight: bold;

    &:nth-of-type(1) {
      grid-area: html-dt;
    }

    &:nth-of-type(2) {
      grid-area: css-dt;
      transform: translateY(1rem);
    }

    &:nth-of-type(3) {
      grid-area: js-dt;
    }
  }

  dd {
    margin: 0;
    padding-left: 0.3rem;
    transition: 0.25s 0.3s;

    &:nth-of-type(2) {
      transform: translateY(1rem);
    }
  }
}

.profile-card-example p {
  margin: 0;
}

.profile-card-example>p {
  width: 100%;
  margin-top: 0;
  padding: 3rem 2rem;
  color: rgb(209, 247, 255);
}